<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
					<ul>
						<li><a href="">Classes</a></li>
						<li><a href="">Hire Us</a></li>
					</ul>
					<div id="logo">
						logo
					</div>
					<div id="donate-btn">
						Donate 
					</div>
				</nav>
				<h1>Where Grit Meets Opportunity</h1>
				<p>At level ground (LG), urban youth cultivate grit and resilience through Mixed Martial Arts. They learn to apply these values 'off the mat' in the pursuit of their ambitions through our Student Trainer Certification and College Access programs.</p>			
			</header>
			<section>
				<h2>Why</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quisquam aliquid aperiam dolorem inventore excepturi sit molestias perferendis. Pariatur vero corrupti dolorum at magni? Laboriosam enim iusto pariatur ipsa consequuntur?</p>
			</section>
			<section class="sect-2">
				<div class="box1">
					<img src="/level-ground/template/css/gym1.jpg" alt="gym picture">
					<h3>Visit the Gym</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde nobis beatae in quibusdam non! Consectetur maiores veritatis ducimus ipsa exercitationem.</p>
					<div class="class-btn">
						<h4>See Classes</h4>
					</div>
				</div>

				<div class="box2">
					<img src="/level-ground/template/css/gym2.jpg" alt="gym picture">
					<h3>Have Us Visit You</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde nobis beatae in quibusdam non! Consectetur maiores veritatis ducimus ipsa exercitationem.</p>
					<div class="class-btn">
						<h4>Hire Us</h4>
					</div>
				</div>
			</section>
			<section class="sect-3">
				<h3>Volunteer With Level Ground</h1>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit blanditiis illum mollitia illo accusamus ratione fugit error, atque voluptas, ipsa dignissimos eos veritatis minima maxime animi labore vitae laborum deleniti, hic quam quisquam. Sunt, esse?</p>
				<div class="class-btn">
					<h4>Volunteer</h4>
				</div>
			</section>
			<footer>
				<div class="box1">
					<ul>
						<li><i class="fa-brands fa-facebook-square"></i></li>
						<li><i class="fa-brands fa-twitter"></i></li>
						<li><i class="fa-solid fa-envelope"></i></li>
					</ul>
					<div>
						<h6>Site Map</h6>
						<ul>
							<li>Classes</li>
							<li>Hire Us</li>
						</ul>
					</div>
					<div>
						<h6>Contribute</h6>
						<ul>
							<li>Give</li>
							<li>Volunteer</li>
						</ul>
					</div>
				</div>
				<div class="box2">

				</div>
				<span></span>

			</footer>
		</div>
	</body>
</html>
